*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
   
 
}
.container{
    margin: 50px;
    max-width: 300px;
    background-color: whitesmoke;
   min-height: 300px;
   border-radius: 10px;
 overflow: ;
   
   
  

}


